*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: arial;
   text-align: justify;
   background-color: white ;
}

#menu-h{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#menu-h li{
    display: inline;
    padding: 30px;

}

#menu-h li a{
    color: #7bb94e;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
   
}

#menu-h li a:hover {
    background-color: #67f80062;
}